<div class="card" align="center">
  <%= link_to item_category_path(item_category), class: "group_avatar_link item_categorys_image_link" do %>
    <% if item_category.image_url %>
      <%= image_tag item_category.image_url, class: :group_avatar_image %>
    <% else %>
      <%= fa_icon "cubes fa-2x group_placeholder_icon" %>
    <% end %>
  <% end %>

  <%= render "app/time_ago", item: item_category %>
  <%= link_to "Edit", edit_item_category_path(item_category), class: "bottom_right_link" %>

  <p>
    <%= link_to item_category.name, item_category_path(item_category) %>
  </p>

  <% if item_category.body.present? %>
    <p class="<%= 'justified_body_text' if item_category.body.size > 150 %>">
      <%= render "app/body", item: item_category %>
    </p>
  <% end %>
</div>
