<div class="template_vertical_spacer"></div>

<div class="template_footer">
  <div class="template_card template_footer_card" align="left">
    <div class="template_footer_card_content">
      <div class="template_footer_card_name template_link_soft">
        Forrest Wilkins
      </div>
      <div>
        <%= link_to "mailto:forrestwilkins@protonmail.com", class: "template_footer_card_email template_link_active" do %>
         forrestwilkins@protonmail.com
        <% end %>
      </div>
      <div class="template_footer_text">
        I'm a web developer. I can help you expand your business and bring your online presence to the next level.
      </div>
    </div>

    <div class="template_footer_menu">
      <div class="template_footer_menu_label template_link_soft">
        Menu
      </div>
      <%= link_to "About", forrest_web_co_path, class: "template_footer_menu_item template_footer_text" %>
      <%= link_to "Blog", forrest_web_co_path, class: "template_footer_menu_item template_footer_text" %>
      <%= link_to "Projects", forrest_web_co_path, class: "template_footer_menu_item template_footer_text" %>
    </div>

    <div class="template_footer_menu">
      <div class="template_footer_menu_label template_link_soft">
        Contact
      </div>
      <%= link_to "forrestwilkins@protonmail.com", "mailto:forrestwilkins@protonmail.com", class: "template_footer_menu_item template_footer_text" %>
      <%= link_to "(919) 756-0830", non_link, class: "template_footer_menu_item template_footer_text" %>
      <%= link_to "Skype", "skype:live:forrest_wilkins", class: "template_footer_menu_item template_footer_text" %>
    </div>

    <div class="template_footer_menu">
      <div class="template_footer_menu_label template_link_soft">
        Online
      </div>
      <%= link_to "GitHub", "https://github.com/ethanwilkins", class: "template_footer_menu_item template_footer_text" %>
      <%= link_to "Stack Overflow", "https://stackoverflow.com/users/2034099/ethan-wilkins", class: "template_footer_menu_item template_footer_text" %>
    </div>
  </div>
</div>

<%= render "pages/scroll_to_top" %>
