<% unless View.where(ip_address: request.remote_ip).present? %>
  <%= render "views/click_anywhere?.js" %>
  <%= render "views/record_visit.js" %>
<% end %>

<script>
  var scroll_speed = 220;
  $(document).ready(function () {
    <% if @fwc_home %>
      $(".about_link").click(function () {
        $('html, body').animate({
          scrollTop: $(".about_section").offset().top + 1
        }, scroll_speed);
      });
      // only scrolls if session variable is present (2)
      <% if session[:scroll_to].eql? "about" %>
        $('html, body').animate({
          scrollTop: $(".about_section").offset().top + 1
        }, scroll_speed);
        // removes session variable (3, happens last)
        $.ajax({
          type: "GET",
          url: "/finished_scrolling"
        });
      <% end %>
    <% else %>
      // sets scroll_to session variable (1, happens first)
      $(".about_link").click(function () {
        $.ajax({
          type: "GET",
          url: "/set_scroll_to",
          data: $.param({
            scroll_to: "about"
          })
        });
      });
    <% end %>
  });
</script>

<div class="page_hider"></div>

<div class="vertical_spacer"></div>

<div class="avatar_container">
  <%= link_to root_url do %>
    <%= image_tag "me.jpg", class: :avatar_img %>
  <% end %>
  <%= link_to "Forrest Wilkins", root_url, class: "avatar_name header_link" %>
  <div class="avatar_title link_soft">
    Software Development
  </div>
</div>

<div class="nav_bar">
  <%= link_to "About", non_link, class: "nav_bar_link header_link #{@fwc_home ? 'link_active' : ''} about_link" %>
  <%= link_to "Blog", blog_path, class: "nav_bar_link header_link #{@blog ? 'link_active' : ''}" %>
  <%= link_to "forrestwilkins@protonmail.com", "mailto:forrestwilkins@protonmail.com", class: "nav_bar_link link_soft header_link" %>
</div>

<%= render "templates/nav_menu" %>
