<div class="card">
  <%= form_for @user, url: update_password_path(@user), method: :put do |f| %>
	  <div align="center">
	    <p>
	      You can update your password here.
	    </p>
      <%= password_field_tag :old_password, nil, placeholder: "Current password", class: :standard_text_field unless dev? %>
      <%= f.password_field :password, placeholder: "New password", class: :standard_text_field %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm new password", class: :standard_text_field %>

	    <p>
		    <%= f.submit "Update password", class: "standard_form_button" %>
	    </p>
	  </div>
  <% end %>
</div>
