<div class="card" align="center" id="item_request_card_<%= item_request.id %>">
  <p>
    Request by <%= item_request.user.name %>
  </p>
  <% unless item_request.body.blank? %>
    <p>
      <b>Specified use:</b> <%= item_request.body %>
    </p>
  <% end %>
  <p>
    <b>Duration:</b> <%= item_request.duration %>
  </p>
  <p>
    <%= link_to "Accept", item_request_path(item_request), method: :put %>
  </p>
</div>
