<%= link_to show_shared_item_path(@shared_item.unique_token) do %>
  <div class="card" align="center">
    <h2 class="standard_page_header">
      Requests for <%= @shared_item.name %> <i class="fa fa-question-circle"></i>
    </h2>
  </div>
<% end %>

<% for item_request in @item_requests %>
  <%= render "card", item_request: item_request %>
<% end %>

<div class="card" align="center">
  <p>
    <%= link_to 'See Lending Library <i class="fa fa-book"></i>'.html_safe, show_item_library_path %>
    <% if admin? %>
      <%= middle_dot %>
      <%= link_to 'See Library Index <i class="fa fa-list"></i>'.html_safe, item_library_filter_and_sort_index_path %>
    <% end %>
  </p>
</div>
