<div class="section footer">
  <div class="card">
    <div class="card_col album_section_card_col">
      <div class="footer_icon_links">
        <%= link_to fa_icon("facebook"), "https://www.facebook.com/LilCCorleone", class: :footer_icon_link %>
        <%= link_to fa_icon("instagram"), "https://www.instagram.com/cico_suave", class: :footer_icon_link %>
        <%= link_to fa_icon("apple"), "https://itunes.apple.com/us/album/its-different-this-time/1437074233", class: :footer_icon_link %>
        <%= link_to fa_icon("spotify"), "https://open.spotify.com/album/3zL9tBFintRc7vi8qdkfbv", class: :footer_icon_link %>
        <%= link_to fa_icon("twitter"), "https://twitter.com/lilccorleone", class: :footer_icon_link %>
      </div>
    </div>

    <div class="card_col_spacer"></div>

    <div class="card_col album_section_card_col">
      <div class="footer_txt">
        Copyright Lil' C. Corleone 2020 © <%= link_to "More information", lil_c_path, class: "footer_txt footer_link" %> — <%= link_to "Changelog", lil_c_path, class: "footer_txt footer_link" %>
      </div>
    </div>
  </div>
</div>
