<div class="section footer">
  <div class="card">
    <div class="card_col album_section_card_col">
      <div class="footer_icon_links">
        <%= link_to fa_icon("facebook"), get_lil_c_link[:facebook], class: :footer_icon_link %>
        <%= link_to fa_icon("instagram"), get_lil_c_link[:instagram], class: :footer_icon_link %>
        <%= link_to fa_icon("apple"), get_lil_c_link[:apple], class: :footer_icon_link %>
        <%= link_to fa_icon("spotify"), get_lil_c_link[:spotify], class: :footer_icon_link %>
        <%= link_to fa_icon("twitter"), get_lil_c_link[:twitter], class: :footer_icon_link %>
      </div>
    </div>

    <div class="card_col_spacer"></div>

    <div class="card_col album_section_card_col">
      <div class="footer_txt">
        Copyright Lil' C. Corleone 2020 © <%= link_to "More information", non_link, class: "footer_txt footer_link" %> — <%= link_to "Changelog", non_link, class: "footer_txt footer_link" %>
      </div>
    </div>
  </div>
</div>
