<div class="header">
  <div class="header_bar">
    <div class="header_links_container hide_header_links_container">
      <div class="header_links">
        <%= link_to "HOME", root_url, class: :header_link %>
        <%= link_to "ALBUM", root_url, class: :header_link %>
        <%= link_to "ABOUT", root_url, class: :header_link %>
      </div>
    </div>
    <div class="header_links_container header_avatar_container">
      <%= link_to lil_c_path do %>
        <div class="avatar">
          <div class="header_link avatar_name">
            LIL' C.
          </div>
          <%= image_tag "clients/lil_c/lil_c.jpg", class: "header_link avatar_img" %>
          <div class="header_link avatar_name avatar_name_right">
            CORLEONE
          </div>
        </div>
      <% end %>
    </div>
    <div class="header_links_container hide_header_links_container">
      <div class="header_links header_links_right">
        <%= link_to fa_icon("facebook"), "https://www.facebook.com/LilCCorleone", class: :header_icon_link %>
        <%= link_to fa_icon("instagram"), "https://www.instagram.com/cico_suave", class: :header_icon_link %>
        <%= link_to fa_icon("apple"), "https://itunes.apple.com/us/album/its-different-this-time/1437074233", class: :header_icon_link %>
        <%= link_to fa_icon("youtube-play"), "https://www.youtube.com/channel/UCvR3Mmrs3qUl4bQGfS9vTBw", class: :header_icon_link %>
      </div>
    </div>
  </div>

  <%= render "templates/clients/lil_c/nav_menu" %>
</div>
