<div class="header">
  <div class="header_bar">
    <div class="header_links_container hide_header_links_container">
      <div class="header_links">
        <%= link_to "HOME", root_url, class: :header_link %>
        <%= link_to "SONGS", root_url, class: :header_link %>
        <%= link_to "ABOUT", root_url, class: :header_link %>
      </div>
    </div>
    <div class="header_links_container header_avatar_container">
      <div class="avatar">
        <div class="header_link avatar_name">
          LIL' C.
        </div>
        <%= image_tag "clients/lil_c/lil_c.jpg", class: "header_link avatar_img" %>
        <div class="header_link avatar_name avatar_name_right">
          CORLEONE
        </div>
      </div>
    </div>
    <div class="header_links_container hide_header_links_container">
      <div class="header_links header_links_right">
        <%= link_to fa_icon("instagram"), root_url, class: :header_icon_link %>
        <%= link_to fa_icon("twitter"), root_url, class: :header_icon_link %>
        <%= link_to fa_icon("facebook"), root_url, class: :header_icon_link %>
        <%= link_to fa_icon("youtube-play"), root_url, class: :header_icon_link %>
      </div>
    </div>
  </div>

  <%= render "templates/clients/lil_c/nav_menu" %>
</div>
