<% case survey_question_section_type @question %>
<% when :open_ended %>
  <div class="survey_results_filter_item filter_item_open_ended filter_item_padding" id="survey_question_<%= @question.id %>_filter_field">
    <%= link_to '<i class="fa fa-times"></i>'.html_safe, remove_results_filter_field_path(@question), remote: true, class: "remove_filter_item_link survey_form_link" %>
    <%= text_field_tag @question.body.squish, nil, placeholder: @question.body.squish,
      class: "results_filter_text_area", id: "survey_question_#{@question.id}_text_field" %>
  </div>

  <script>
    var input_<%= @question.id %> = $("#survey_question_<%= @question.id %>_text_field");

    input_<%= @question.id %>.focus(function() {
      input.toggleClass('filter_field_focused', true);
    });

    input_<%= @question.id %>.blur(function() {
      input_<%= @question.id %>.toggleClass('filter_field_focused', false);
    });

    input_<%= @selected_filter_field %>.focus();
  </script>
<% when :checkbox %>
  <div class="survey_results_filter_item filter_item_checkbox filter_item_padding" id="survey_question_<%= @question.id %>_filter_field">
    <%= link_to '<i class="fa fa-times"></i>'.html_safe, remove_results_filter_field_path(@question), remote: true, class: "remove_filter_item_link survey_form_link" %>
    <b><%= snip_survey_txt @question.body %>:</b>
    <% for selection in @question.survey_selections %>
      <% if selection.body.present? %>
        <%= check_box_tag "question_#{@question.id}_#{selection.body}", true %>
        <%= snip_survey_txt (selection.other ? "Other..." : selection.body) %>
      <% end %>
    <% end %>
  </div>
<% when :radio_button %>
  <div class="survey_results_filter_item filter_item_padding" id="survey_question_<%= @question.id %>_filter_field">
    <%= link_to '<i class="fa fa-times"></i>'.html_safe, remove_results_filter_field_path(@question), remote: true, class: "remove_filter_item_link survey_form_link" %>
    <%= select_tag @question.body.squish, options_for_select(@question.radio_button_options) %>
  </div>
<% when :grid %>
  <%= render 'survey_results/grid_question_filter', question: @question %>
<% end %>
