<%= form_tag filter_shared_items_path(id: @item_library.id), method: :get, remote: true, class: :survey_results_filter_form, id: :shared_items_filter_form do |f| %>
  <div class="results_filter_form_section">
    <%= link_to '<i class="fa fa-refresh"></i>'.html_safe, reset_shared_items_filter_path(@item_library.id),
      remote: true, class: "survey_results_filter_item survey_filter_form_link" %>
    <%= render 'survey_results/filter_form_button' %>
  </div>

  <div class="results_filter_form_section">
    <% for field in shared_item_fields  %>
      <% unless field.eql? :item_category_id or field.eql? :arrangement or field.eql? :in_stock %>
        <div class="survey_results_filter_item filter_item_open_ended">
          <%= text_field_tag field, nil, placeholder: "Filter for '#{(field.eql?(:body) ? :description : field).to_s.gsub("_", " ").capitalize}'...",
            class: "results_filter_text_area" %>
        </div>
      <% end %>
    <% end %>

    <div class="survey_results_filter_item">
      <%= select_tag :item_category_id, options_for_select(@item_library.category_options) %>
    </div>

    <div class="survey_results_filter_item">
      <%= select_tag :arrangement, options_for_select(ItemLibrary.arrangement_options) %>
    </div>

    <div class="survey_results_filter_item">
      <%= select_tag :in_stock, options_for_select(ItemLibrary.in_stock_options) %>
    </div>
  </div>

  <div class="results_filter_form_section">
    <%= link_to '<i class="fa fa-refresh"></i>'.html_safe, reset_shared_items_filter_path(@item_library.id),
      remote: true, class: "survey_results_filter_item survey_filter_form_link" %>
    <%= render 'survey_results/filter_form_button' %>
  </div>

  <%= render "survey_results/filter_form_button_fade.js" %>
<% end %>

<%= render "app/link_sound.js", _class: true, link_id: :survey_filter_form_link, sound: :post_interface_sound %>
