<% case @selected_filter_field %>
<% when :item_category_id %>
  <div class="survey_results_filter_item">
    <%= select_tag :item_category_id, options_for_select(@item_library.category_options) %>
  </div>
<% when :arrangement %>
  <div class="survey_results_filter_item">
    <%= select_tag :arrangement, options_for_select(ItemLibrary.arrangement_options) %>
  </div>
<% when :in_stock %>
  <div class="survey_results_filter_item">
    <%= select_tag :in_stock, options_for_select(ItemLibrary.in_stock_options) %>
  </div>
<% when :holder_id %>
  <div class="survey_results_filter_item">
    <%= select_tag :holder_id, options_for_select(@item_library.holder_options) %>
  </div>
<% else %>
  <div class="survey_results_filter_item shared_item_filter_item_open_ended">
    <%= text_field_tag @selected_filter_field, nil,
      placeholder: "#{(@selected_filter_field.eql?(:body) ? :description : @selected_filter_field).to_s.gsub("_", " ").capitalize}",
      class: "shared_item_filter_text_field" %>
  </div>
<% end %>
