<div id="shared_items">
  <% unless cookies[:stacked_shared_items_set_to_vertical].present? %>
    <div class="shared_item_card_fields_row">
      <% for field in [:in_stock, :name, :item_category_id, :holder_id, :arrangement] %>
        <div class="shared_item_card_field shared_item_card_field_horizontal">
          <%= shared_item_sort_by_field_label(field).to_s.gsub("_", " ").capitalize %>
          <%= link_to '<i class="fa fa-caret-up"></i>'.html_safe, sort_shared_items_by_path(id: @item_library.id,
            field: field, order: 'up'), remote: true, class: "sort_by_link interactive_link" %>
          <%= link_to '<i class="fa fa-caret-down"></i>'.html_safe, sort_shared_items_by_path(id: @item_library.id,
            field: field, order: 'down'), remote: true, class: "sort_by_link interactive_link" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% shared_item_num=0; for shared_item in @shared_items %>
    <%= link_to show_shared_item_modal_path(shared_item), remote: true, class: :show_shared_item_modal_link do %>
      <div class="stacked_shared_item <%= 'stacked_shared_item_horizontal' unless cookies[:stacked_shared_items_set_to_vertical].present? %>"
        id="stacked_shared_item_<%= shared_item.id %>">
        <% if cookies[:stacked_shared_items_layout].eql? "vertical" %>
          <%= render "shared_items/stacked_vertical", shared_item: shared_item, shared_item_num: shared_item_num %>
        <% else %>
          <%= render "shared_items/stacked_horizontal", shared_item: shared_item, shared_item_num: shared_item_num %>
        <% end %>
      </div>
    <% end %>
  <% shared_item_num += 1; end %>

  <%= render "app/link_sound.js", _class: true, link_id: :interactive_link, sound: :post_interface_sound %>
</div>
