<div id="shared_items">
  <% unless stacked_vertically? %>
    <div class="shared_item_card_fields_row shared_item_index_field_row">
      <% for field in [:in_stock] + shared_item_fields_summary %>
        <div class="shared_item_card_field shared_item_card_field_horizontal">
          <b><%= shared_item_sort_by_field_label(field).to_s.gsub("_", " ").capitalize %></b>
        </div>
      <% end %>
    </div>
  <% end %>

  <% shared_item_num=0; for shared_item in @shared_items %>
    <%= link_to show_shared_item_modal_path(shared_item), remote: true, class: :show_shared_item_modal_link do %>
      <div class="stacked_shared_item <%= 'stacked_shared_item_horizontal' unless stacked_vertically? %>"
        id="stacked_shared_item_<%= shared_item.id %>">
        <% if stacked_vertically? %>
          <%= render "shared_items/stacked_vertical", shared_item: shared_item, shared_item_num: shared_item_num %>
        <% else %>
          <%= render "shared_items/stacked_horizontal", shared_item: shared_item, shared_item_num: shared_item_num %>
        <% end %>
      </div>
    <% end %>
  <% shared_item_num += 1; end %>

  <%= render "app/link_sound.js", _class: true, link_id: :interactive_link, sound: :post_interface_sound %>
</div>
