<%= render 'form' %>

<div class="card" align="center">
  <p>
    <%= link_to '<i class="fa fa-book"></i> See Lending Library'.html_safe, show_item_library_path %>
    <% if admin? %>
      <%= middle_dot %>
      <%= link_to '<i class="fa fa-list"></i> See Library Index'.html_safe, item_library_filter_and_sort_index_path %>
    <% end %>
  </p>
</div>

<%= render 'shared_items/delete_link' if own_item? @shared_item or admin? %>
