<div class="card take_survey_card_border">
  <div align="center">
    <%= link_to item_library_path(item_library), class: "group_avatar_link item_librarys_image_link" do %>
      <% if item_library.image_url %>
        <%= image_tag item_library.image_url, class: :group_avatar_image %>
      <% else %>
        <%= fa_icon "cubes fa-2x group_placeholder_icon" %>
      <% end %>
    <% end %>

    <%= render "app/time_ago", item: item_library %>
    <%= link_to "Edit", edit_item_library_path(item_library), class: "bottom_right_link" if admin? or dev? %>

    <p>
      <i class="fa fa-book"></i> <%= link_to item_library.name, item_library_path(item_library) %>
    </p>

    <% if item_library.body.present? %>
      <p class="<%= 'justified_body_text' if item_library.body.size > 150 %>">
        <%= render "app/body", item: item_library %>
      </p>
    <% end %>

    <p>
      Total items: <%= item_library.shared_items.size %>
    </p>

    <% if in_dev? %>
      <p>
        <%= link_to "Total categories: #{item_library.categories.size}", item_categories_path %>
      </p>
    <% end %>

    <%= link_to item_library_filter_and_sort_index_path do %>
      <p>
        <i class="fa fa-list"></i> See index
      </p>
    <% end %>
  </div>
  <%= render "app/side_panes" if @showing_item_library %>
</div>
