<div class="card" align="center">
  <p>
    <%= link_to "Portal #{@portal.unique_token} <i class=\"fa fa-opera\"></i>".html_safe, show_portal_path(@portal.unique_token) %>
  </p>
  <%= form_for @portal, url: update_portal_path, method: :put do |f| %>
    <%= hidden_field_tag :token, @portal.unique_token %>
    <p>
      <%= f.text_field :unique_token, placeholder: "Change portal token...", class: :standard_text_area %>
    </p>
    <p>
      <b>Access to be granted:</b>
      admin <%= f.check_box :admin, { checked: @portal.admin } %>
      dev <%= f.check_box :dev, { checked: @portal.dev } %>
      mod <%= f.check_box :mod, { checked: @portal.mod } %>
    </p>
    <p>
      <button type="submit" name="commit" class="standard_form_button">
        <b>Update <i class="fa fa-opera"></i></b>
      </button>
    </p>
  <% end %>
</div>

<div class="card" align="center">
  <p>
    <%= link_to 'See all portals <i class="fa fa-opera"></i>'.html_safe, portals_path %>
    <%= middle_dot %>
    <%= link_to 'Back to admin <i class="fa fa-cog"></i>'.html_safe, dsa_admin_path %>
  </p>
</div>
