<div class="card shared_item_card_vertical_spacer" id="survey_card_<%= survey.id %>">
  <%= render "users/avatar_card_link", user: survey.user %>

  <span class="posted_label">
    <%= link_to survey.user.name, survey.user, class: :posted_link %>
    posted a <%= link_to 'survey'.html_safe, survey, class: :posted_link %>
  </span>

  <%= render "app/time_ago", item: survey, position: :time_ago_link %>

  <%= render "surveys/open_menu_link", survey: survey if own_item? survey or admin? %>

  <div align="center">
    <p class="surveys_link">
      <%= link_to survey.title, survey %>
    </p>

    <%= render 'surveys/body', survey: survey %>

    <% i=1; for question in show_some_or_all_questions survey %>
      <%= render "survey_questions/question_body", survey: survey, question: question %>

      <% if @showing %>
        <!-- list selections and or rows -->
        <% unless question.open_ended? %>
          <% unless question.grid %>
            <%= render "survey_selections/edit_list", question: question, selections: question.selections, label: "S" %>
          <!-- outputs rows and columns for grid questions -->
          <% else %>
            <%= render "survey_selections/edit_list", question: question, selections: question.rows, label: "R" %>
            <%= render "survey_selections/edit_list", question: question, selections: question.columns, label: "C" %>
          <% end %>
        <% end %>
      <% end %>

    <% i += 1; end %>

    <% if survey.questions.size > SurveyQuestion::SUMMARY_MAX and not @showing %>
      <%= link_to survey do %>
        <p>
          With <%= survey.questions.size - SurveyQuestion::SUMMARY_MAX %> more question(s)
        </p>
      <% end %>
    <% end %>

    <p class="surveys_link surveys_card_links">
      <%= link_to '<i class="fa fa-check-square-o"></i> Take survey'.html_safe, take_survey_path(survey.unique_token) %>

      <% if survey.survey_results.present? and own_item?(survey) and admin? %>
        <%= middle_dot %>
        <%= link_to '<i class="fa fa-list"></i> See results'.html_safe, survey_results_path(survey) %>
      <% end %>
    </p>

    <div id="survey_comments_anchor_<%= survey.id %>"></div>

    <% if current_user %> <!-- could re enable anon later -->
      <table class="bottom_left_link">
        <tr>
          <td>
            <span id="like_survey_link_anchor_<%= survey.id %>"></span>
            <%= render "likes/link", item: survey %>
          </td>
          <td>
            ·
          </td>
          <td>
            <%= link_to "<i class=\"fa fa-comment-o\"></i> Comments#{ ' ' + survey.comments.size.to_s unless survey.comments.size.zero? }".html_safe,
              (@survey_shown ? @survey : toggle_comments_path(id: survey.id, survey: true)), remote: true,
              class: :standard_post_link, id: "show_survey_comments_#{survey.id}" %>
            <%= render "app/link_sound.js", link_id: "show_survey_comments_#{survey.id}", sound: :post_interface_sound %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>


  <% unless @showing %>
    <script>
      function show_survey_modal_<%= survey.id %>() {
        var card = $("#survey_card_<%= survey.id %>");

        card.click(function(e) {
          if (!$(e.target).closest('a').length) {
            $.ajax({
      			  type: "GET",
      			  url: "/show_survey_modal/<%= survey.id %>"
      		  });
          }
        });
      }
      show_survey_modal_<%= survey.id %>();
    </script>
  <% end %>
</div>
