<%= render "form" %>

<div class="surveys_card" align="center">
  <p>
    <%= link_to '<i class="fa fa-home"></i> See all surveys'.html_safe, surveys_path %>

    <% if @survey.survey_results.present? and own_item?(@survey) and admin? %>
      <%= middle_dot %>
      <%= link_to '<i class="fa fa-list"></i> See results'.html_safe, survey_results_path(@survey) %>
    <% end %>
    <%= middle_dot %>
    <%= link_to '<i class="fa fa-group"></i> Take survey'.html_safe, take_survey_path(@survey.unique_token) %>
  </p>
</div>

<%= render "danger_area" %>
