<%= link_to fa_icon("home", "Home"), home_path, class: "standard_nav_menu_link hidden_nav_menu_link",
  title: "Home consists of posts and groups, in reverse chronological order." if invited? or anrcho? %>

<%= link_to fa_icon("envelope", "Inbox#{': ' + current_user.inbox_unseen.to_s \
  unless current_user.inbox_unseen.zero?}"), inbox_path, class: "standard_nav_menu_link hidden_nav_menu_link" if current_user %>

<%= link_to fa_icon("bell", "Notes#{': ' + currently_unseen_notes.size.to_s \
  unless currently_unseen_notes.size.zero?}"), notes_path, class: "standard_nav_menu_link hidden_nav_menu_link",
  title: "See what's happening..." if current_user or anrcho? %>

  <%= link_to fa_icon("user", "Profile"), show_user_path(current_user.unique_token),
    class: "standard_nav_menu_link hidden_nav_menu_link" if current_user %>

<%= link_to fa_icon("cubes", "Groups"), my_groups_path,
  class: :standard_nav_menu_link, title: "Click to see all of the groups you'#{anrcho? ? 've found' : 're in'}." if current_user or anrcho? %>

<% unless current_user %>
	<%= link_to fa_icon("sign-in", "Log in"), sessions_new_path, class: :standard_nav_menu_link %>
<% else %>
  <%= link_to fa_icon("users", "Following"), following_path(current_user.id), class: :standard_nav_menu_link %>

  <%= link_to fa_icon("book", "Lending Library"), show_item_library_path, class: "standard_nav_menu_link hidden_nav_menu_link" if invited? %>

  <%= link_to fa_icon("check-square-o", "Surveys"), surveys_path, class: "standard_nav_menu_link hidden_nav_menu_link" %>

  <%= link_to fa_icon("hand-o-up", "Motions"), proposals_path, class: "standard_nav_menu_link hidden_nav_menu_link" %>

  <%= link_to fa_icon("cog", "Settings"), settings_dropdown_path, remote: true,
    id: :settings_nav_link, class: "standard_nav_menu_link settings_nav_link" %>
  <div id="settings_nav_container" class="settings_nav_container">
    <i id="settings_nav_anchor"></i>
  </div>

  <script>
    $(".settings_nav_link").click(function() {
      $(".settings_nav_link").toggleClass('plus_fade');
      window.navigator.vibrate(1);
    });
  </script>

  <%= link_to fa_icon("code", "Dev"), dev_panel_path, class: :standard_nav_menu_link,
    title: "Dpanel (Dev panel) - Click here to manage all major site functions and data." if dev? %>

  <%= link_to fa_icon("cog", "Admin"), dsa_admin_path, class: :standard_nav_menu_link if admin? %>

	<%= link_to fa_icon("sign-out", "Log out"), sessions_destroy_path, method: :delete,
	  class: :standard_nav_menu_link, title: "Click here to destroy your cookie.",
	  data: { confirm: "Are you sure?" } %>
<% end %>
