<!-- proposals -->

<% group_token = @group ? @group.unique_token : nil %>

<script>
  <%= render "proposals/fader.js" %>
</script>

<div class="proposal_sections">
  <%= link_to switch_section_path(section: :all, group_token: group_token), remote: true do %>
    <div class="voting_section switch_content_form_button switch_content_form_button_first proposal_section_active" id="proposal_section_all">
      <div class="section_text">All</div>
    </div>
  <% end %>
  <%= link_to switch_section_path(section: :voting, group_token: group_token), remote: true do %>
	  <div class="voting_section switch_content_form_button" id="proposal_section_voting">
		  <div class="section_text">Voting</div>
	  </div>
  <% end %>
  <%= link_to switch_section_path(section: :revision, group_token: group_token), remote: true do %>
	  <div class="voting_section switch_content_form_button" id="proposal_section_revision">
		  <div class="section_text">Revision</div>
	  </div>
  <% end %>
  <%= link_to switch_section_path(section: :ratified, group_token: group_token), remote: true do %>
	  <div class="voting_section switch_content_form_button switch_content_form_button_last" id="proposal_section_ratified">
		  <div class="section_text">Ratified</div>
	  </div>
  <% end %>
</div>
