<div class="proposal_sections">
  <%= link_to show_proposal_path(token: proposal.unique_token, votes: true) do %>
    <div class="proposal_sub<%= '_tri' if proposal.requires_revision? %>_section votes_section switch_content_form_button_first
      <%= 'proposal_section_active' if @show_proposal_sub_type.eql? :votes %>">
	    <div class="section_text">Votes</div>
    </div>
  <% end %>

  <%= link_to show_proposal_path(token: proposal.unique_token, comments: true) do %>
    <div class="proposal_sub<%= '_tri' if proposal.requires_revision? %>_section votes_section <%= 'switch_content_form_button_last' unless proposal.requires_revision? %>
      <%= 'proposal_section_active' if @show_proposal_sub_type.eql? :comments %>">
	    <div class="section_text">Comments</div>
    </div>
  <% end %>

  <% if proposal.requires_revision? %>
    <%= link_to show_proposal_path(token: proposal.unique_token, revisions: true) do %>
      <div class="proposal_sub_tri_section votes_section switch_content_form_button_last <%= 'proposal_section_active' if @show_proposal_sub_type.eql? :revisions %>">
  	    <div class="section_text">Revisions<%= proposal.revisions.present? ? " (#{proposal.revisions.size})" : '' %></div>
      </div>
    <% end %>
  <% end %>
</div>
