<% if @likes.present? %>
  <div class="card">
    <script>
      <%= render "app/fader.js", target: "liked_by_text", target_id: "0" %>
    </script>
    <div align="center" id="liked_by_text_0">
      Likes:
        <% user_likes = @likes.where.not(user_id: nil); anon_likes = @likes.where.not(anon_token: nil) %>
        <% for like in user_likes %>
          <%= link_to like.user.name, like.user if like.user %><%= ", " \
            unless like.eql? user_likes.last %>
        <% end %>
        <%= "and" if user_likes.present? and anon_likes.present? %>
        <%= "#{anon_likes.size} anon(s)" if anon_likes.present? %>
    </div>
  </div>
<% end %>

<% if @shares.present? %>
  <div class="card">
    <script>
      <%= render "app/fader.js", target: "shared_by_text", target_id: "0" %>
    </script>
    <div align="center" id="shared_by_text_0">
      Shared by:
        <% user_shares = @shares.where.not(user_id: nil); anon_shares = @shares.where.not(anon_token: nil) %>
        <% for share in user_shares %>
          <%= link_to share.user.name, share.user if share.user %><%= ", " \
            unless share.eql? user_shares.last %>
        <% end %>
        <%= "and" if user_shares.present? and anon_shares.present? %>
        <%= "#{anon_shares.size} anon(s)" if anon_shares.present? %>
        <i class="fa fa-retweet"></i>
    </div>
  </div>
<% end %>

<% if @views.present? and (dev? or @proposal) %>
  <div class="card">
    <script>
      <%= render "app/fader.js", target: "seen_by_text", target_id: "0" %>
    </script>
    <div align="center" id="seen_by_text_0">
      Seen by:
        <% user_views = @views - View.where(user_id: nil); anon_views = @views - View.where(anon_token: nil) %>
        <% for view in user_views %>
          <%= link_to view.user.name, view.user if view.user %>
          <%= ", " unless view.eql? user_views.last %>
        <% end %>
        <%= "and" if user_views.present? and anon_views.present? %>
        <i class="fa fa-eye"></i>
    </div>
  </div>
<% end %>
