<div class="modal shared_item_modal">
  <div class="vertical_spacer"></div>

  <%= render "app/close_modal_link" %>

  <% if @post.group.present? and invited? or current_user %>
    <%= render "app/lineage", line: { group: @post.group, post: @post } %>
  <% end %>

  <%= render "posts/card", post: @post %>

  <%= render "posts/liked_and_viewed_by" %>

  <% if invited? or current_user %>
    <%= render "comments/index", comments: @comments %>
  <% end %>

  <div id="footer_spacing_container"></div>
</div>
