<% if current_user or lending_library? or survey_maker? %>
  <div class="card take_survey_card_border card_vertical_spacer">
    <%= render "feed_summary" %>
    <%= render "app/side_panes" %>
  </div>
<% elsif invited? %>
  <% if returning_user? %>
    <%= render "sessions/form" %>
  <% else %>
    <%= render 'users/form' %>
  <% end %>
<% end %>

<% if in_dev? and false %>
  <%= render "posts/main_feed_container", items: @items, all_items: @all_items %>
<% else %>
  <%= render "posts/feed_loader" %>
<% end %>

<% if sound_turned_on? %>
  <%= audio_tag "effects/magic.wav", id: "zen_sound" %>
  <%= audio_tag "effects/bip.mp3", id: "post_interface_sound" %>
  <%= audio_tag "interface/interface_9.mp3", id: "more_content_sound" %>
<% end %>
